.flex-grid {
  @flex-grid-bg-color: #000;

  &:extend(.flex-box);
  &:extend(.flex-do-wrap);

  .flex-grid--item {
    .flex-basis(100%);
    .flex-order(2);   // Only needed where image is listed 2nd on desktop and needs to be listed first on mobile
    background-color: @flex-grid-bg-color;
    overflow: hidden; // used to hide the image on zoom.

    img {
      .transition(all .5s);

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  .flex-grid--image {
    .align-items(center); // align vertical
    .display-flex();
    .flex-direction(column);
    .justify-content(center); // align horizontal
  }

  .flex-grid-item--content {
    color: #fff;
    padding: 50px;
  }

  .first-on-mobile {
    .flex-order(1); // Only needed where image is listed 2nd on desktop and needs to be listed first on mobile
  }
}

@media (min-width: 768px) {
  .flex-grid {
    .flex-grid--item {
      .flex-basis(49%);
      .flex-order(1); // Only needed where image is listed 2nd on desktop and needs to be listed first on mobile
                      // flex order initial doesn't work in IE.
    }
  }
}
